@{
    ViewData["Title"] = "Interventions";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->


    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h4 class="headline text-warning"> Intervention is sent </h4>

            <div class="error-content">
                <h3><i class="fas fa-exclamation-triangle text-warning"></i> Thank you for your Intervention.</h3>

                <p>
                    You will be contacted by the IT team soon to receive a news about the progression of your request
                    sent from our system. !
                </p>


            </div>
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->