@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main content -->
<div class="content-wrapper">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Author</th>
                <th scope="col">Employee</th>
                <th scope="col">Customer</th>
                <th scope="col">Building</th>
                <th scope="col">Battery</th>
                <th scope="col">Column</th>
                <th scope="col">Elevator</th>
                <th scope="col">Report</th>
                <th scope="col">Result</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>129</td>
                <td>14</td>
                <td>25</td>
                <td>60</td>
                <td>60</td>
                <td>223</td>
                <td>746</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</td>
                <td>Incomplete</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>129</td>
                <td>1</td>
                <td>25</td>
                <td>60</td>
                <td>60</td>
                <td>223</td>
                <td>746</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</td>
                <td>Incomplete</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>129</td>
                <td>15</td>
                <td>70</td>
                <td>170</td>
                <td>170</td>
                <td>620</td>
                <td>2154</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</td>
                <td>Incomplete</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>129</td>
                <td>14</td>
                <td>77</td>
                <td>186</td>
                <td>186</td>
                <td>676</td>
                <td>2345</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</td>
                <td>Incomplete</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>129</td>
                <td>15</td>
                <td>59</td>
                <td>142</td>
                <td>142</td>
                <td>522</td>
                <td>1781</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</td>
                <td>Incomplete</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>129</td>
                <td>16</td>
                <td>94</td>
                <td>222</td>
                <td>222</td>
                <td>792</td>
                <td>2770</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</td>
                <td>Incomplete</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>129</td>
                <td>4</td>
                <td>59</td>
                <td>142</td>
                <td>142</td>
                <td></td>
                <td></td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</td>
                <td>Incomplete</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>129</td>
                <td>15</td>
                <td>73</td>
                <td>177</td>
                <td>177</td>
                <td>650</td>
                <td>2263</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</td>
                <td>Incomplete</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>129</td>
                <td>15</td>
                <td>77</td>
                <td>186</td>
                <td>186</td>
                <td>675</td>
                <td>2343</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</td>
                <td>Incomplete</td>
                <td>InProgress</td>
            </tr>
            <tr>
                <td>129</td>
                <td>14</td>
                <td>59</td>
                <td>142</td>
                <td>142</td>
                <td>524</td>
                <td>1786</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</td>
                <td>Incomplete</td>
                <td>Completed</td>
            </tr>
            <tr>
                <td>129</td>
                <td>16</td>
                <td>77</td>
                <td>186</td>
                <td>186</td>
                <td>676</td>
                <td>2345</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</td>
                <td>Incomplete</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>129</td>
                <td>15</td>
                <td>73</td>
                <td>177</td>
                <td>177</td>
                <td>650</td>
                <td>2265</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</td>
                <td>Incomplete</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>129</td>
                <td>2</td>
                <td>59</td>
                <td>142</td>
                <td>142</td>
                <td>521</td>
                <td>1778</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</td>
                <td>Incomplete</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>129</td>
                <td>13</td>
                <td>25</td>
                <td>60</td>
                <td>60</td>
                <td>223</td>
                <td>747</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</td>
                <td>Incomplete</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>129</td>
                <td>15</td>
                <td>43</td>
                <td>106</td>
                <td>106</td>
                <td>384</td>
                <td>1318</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</td>
                <td>Incomplete</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>129</td>
                <td>15</td>
                <td>25</td>
                <td>60</td>
                <td>60</td>
                <td>223</td>
                <td>747</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</td>
                <td>Incomplete</td>
                <td>Pending</td>
            </tr>
        </tbody>
    </table>
</div>